bcrypt==3.1.4
beautifulsoup4==4.6.3
bs4==0.0.1
cffi==1.11.5
chardet==3.0.4
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
lxml==4.2.5
requests==2.20.0
SQLAlchemy==1.2.12
urllib3==1.23
Werkzeug==0.14.1
WTForms==2.2.1
