<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% if title %}
    <title id='title'>{{title}}</title>
    {% else %}
    <title>Dashboard | Khabar-board</title>
    {%endif %}




    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Our Custom CSS -->

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='dashboard/dashboard.css')}}">
    <link rel="icon" type="image/png/jpg" href="{{url_for('static',filename='images/icon.jpg')}}">
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <img class="img-responsive" style="width:3em;" src={{url_for('static',filename='images/icon.jpg')}}>
            </div>

            <ul class="list-unstyled components">
                <p>Dashboard</p>
                <li class="#">
                    <a id='sidebar_home' href="{{url_for('newslet.news')}}">Home</a>

                <li>
                    <a id='about' href="{{url_for('main.about')}}">About</a>

                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">News
                    </a>

                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li><a id='sidebar_NNN' href="{{url_for('newslet.nep_national_news')}}">National(नेपा)</a></li>

                        <li><a id='sidebar_ENN' href="{{url_for('newslet.eng_national_news')}}">National(Eng)</a></li>

                        <li><a id='sidebar_NIN' href="{{url_for('newslet.nep_international_news')}}">International(नेपा)</a></li>

                        <li><a id='sidebar_EIN' href="{{url_for('newslet.eng_international_news')}}">International(Eng)</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">Conversion Tools</a>
                </li>
                <li>
                    <a href="{{url_for('main.privacy_policy')}}">Privacy Policy</a>
                </li>

            </ul>

            <ul class="list-unstyled CTAs">
                <li><a href="{{url_for('users.logout')}}" class="download"><i class="glyphicon glyphicon-off"></i>
                        Logout</a></li>

            </ul>



        </nav>



        </div>

        <!-- Page Content Holder -->
        <div id="content">
            <nav class=" navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class=" btn btn-info navbar-btn">
                            <i class=" glyphicon glyphicon-align-left"></i>
                            Menu
                        </button>
                    </div>

                    <!-- Dark mode switch -->
                    <div class='dark_checkbox'>
                        <label class="dark_switch">
                            <input id='dark_check' type="checkbox">
                            <span class="dark_slider round"></span>
                        </label>
                    </div>

                </div>
            </nav>




            {%block content%}
            {% with messages = get_flashed_messages(with_categories = True)%}
            {%if messages%}
            {%for category,message in messages%}
            <br><br>
            <div class="alert alert-{{category}}">{{message}}</div>
            {%endfor%}
            {%endif%}
            {%endwith%}

            {%endblock content%}
        </div>

        <div class="overlay"></div>


        <script>
            window.onscroll = function() {responsiveNewsSidebar()};

            var news_menu = document.getElementsByClassName("news_menu")[0];
            var sticky = news_menu.offsetTop;
            var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
            var media_query = window.matchMedia("(min-width: 768px)")

            function responsiveNewsSidebar() {
              if (window.pageYOffset > sticky && media_query.matches) {
                news_menu.classList.add("sticky");
              } else {
                news_menu.classList.remove("sticky");
              }
            }
            media_query.addListener(responsiveNewsSidebar)
        </script>

        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#dismiss, .overlay').on('click', function () {
                    $('#sidebar').removeClass('active');
                    $('.overlay').fadeOut();
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').addClass('active');
                    $('.overlay').fadeIn();
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });

        </script>

        <script>
            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for(var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            var dark_mode = getCookie('dark_mode');
            console.log(dark_mode)
            if(dark_mode == "true"){
               $('#dark_check').prop('checked', true);
               dark_on();
            }
            else {
               $('#dark_check').prop('checked', false);
               dark_off();
            }


            function dark_on() {
                $('* > :not(script)').css('background-color', 'black');
                $('* > :not(script)').css('color', 'lightgrey');
                document.cookie = "dark_mode=true";
            }

            function dark_off() {
                $('* > :not(script)').removeAttr('style');
                document.cookie = "dark_mode=false";
            }

            $('#dark_check').change(function() {
                if(this.checked) {
                    dark_on();
                }
                else {
                    dark_off();
                }

            });


    </script>
</body>

</html>
