{% extends "dashboard.html" %}
{% block content %}

<div class="news_menu">
    <span>Categories</span>
    <ul>
        <li> <a id="newsmenu_NNN" href='{{url_for('newslet.nep_national_news')}}'>
            National News[नेपा]
        </a> </li>

        <li> <a id="newsmenu_ENN" href='{{url_for('newslet.eng_national_news')}}'>
            National News[Eng]
        </a></li>

{% if logged %}
        <li> <a id='newsmenu_NIN' href='{{url_for('newslet.nep_international_news')}}'>
            International News[नेपा]
        </a></li>
{% endif %}

        <li> <a id="newsmenu_EIN" href='{{url_for('newslet.eng_international_news')}}'>
            International News[Eng]
        </a></li>
    </ul>
</div>


<div class="news">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{{ heading }}</h2>
        </div>
    </div>

    <!--iterate through every news in the new_list -->
    {% for news in news_list.items %}
    <!-- For heading containing title and anchored news_link -->
    <div class="panel panel-default">
        <div class="panel-heading">

            <h3><a href="{{news.news_link}}" target="_blank">{{news.title}} </a> </h3>
        </div>

        {%if news.image_link %}
        <img class="article-img img-responsive load_sideway" src="{{news.image_link}}">
        {%endif%}

        <!-- NEWS BODY (SUMMARY) -->
        <div class="panel-body">
            <div>
                <small class="text-muted">{{ news.raw_date }}</small>
                <span> <a href="{{news.news_link}}" , target="_blank">| {{news.source}}</a> </span>
            </div><br>

            <div class="text-justify lead">
                {{news.summary}}
            </div>

            <a href="{{news.news_link}}" , target="_blank">{{ read_more }} </a>
        </div>
    </div>
    {% endfor %}



<!-- settings for page no indicator at bottom -->
{%for page_num in news_list.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)%}
{%if page_num%}
{%if news_list.page == page_num%}
<a class="btn btn-info mb-4" href="{{url_for(newslet_func, page=page_num)}}">
    <!-- newslet_func is passed as var from newslet.routes.py file NIN, NNN, ENN funcs -->
    {{page_num}}</a>
{%else%}
<a class="btn btn-outline-info mb-4" href="{{url_for(newslet_func, page=page_num)}}">{{page_num}}</a>
{%endif%}
{%else%}
...

{%endif%}
{%endfor%}

</div>

<script>
    category = document.getElementById('title').text;
    if (category == 'National-Nep') {
        newsmenu_a_tag = document.getElementById('newsmenu_NNN');
        sidebar_a_tag = document.getElementById('sidebar_NNN');
    }
    else if (category == 'International-Nep') {
        newsmenu_a_tag = document.getElementById('newsmenu_NIN');
        sidebar_a_tag = document.getElementById('sidebar_NIN');
    }
    else if (category == 'National-Eng') {
        newsmenu_a_tag = document.getElementById('newsmenu_ENN');
        sidebar_a_tag = document.getElementById('sidebar_ENN');
    }
    else if (category == 'International-Eng') {
        newsmenu_a_tag = document.getElementById('newsmenu_EIN');
        sidebar_a_tag = document.getElementById('sidebar_EIN');
    }
    else {
        console.log(category);
    }
    sidebar_a_tag.setAttribute("class", "current");
    newsmenu_a_tag.setAttribute("class", "current");

</script>
{% endblock content %}
