{%extends 'layout.html' %}

{%block content%}


<!--Bg-img-->
<div id="intro" style="background: url({{url_for('static', filename="images/lake.jpg")}}) no-repeat center;background-size: cover;">
    <div class="text-center pt-3" id="subi" style="color:white; ">
        <h3>Khabar Board <br>Get informed, Get smart</h3>
        <div class="pt-4">
            <h5 style="color:black;">It's Free and always will be!</h5>
            <a href="{{url_for('users.signup')}}"><button class="btn btn-default btn-lg" id="button">Get Started</button></a>
            <a href="{{url_for('users.login')}}"><button class="btn btn-default btn-lg" id="button">login</button></a>
            <h5>Try without Signup?</h5>
            <a href="{{url_for('users.tryfree')}}"><button class="btn btn-default btn-lg" id="button">Try</button></a>
        </div>
    </div>
</div>



<!--Main Content


<!--Main Content

-->
<div class="container-fluid">

    <!-- Card 1-->
    <div class="card card-image" style="background-image: url({{url_for('static',filename='images/papers.jpeg')}});">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div class="container-fluid row">

                <!--<h5 class="pink-text "><i class="fa fa-pie-chart"></i> Marketing</h5>-->
                <h3 class="card-title pt-2 col-12"><strong>News That Matters.</strong></h3>
                <div class="container text-center">
                    <p class="col-12">Latest, important and summarized national and international news right on your finger Tips.</p>
                </div>

            </div>
        </div>
        <!-- Content -->
    </div>
    <!-- Card -->

    <!-- Card 2-->
    <div class="card card-image" style="background-image: url({{url_for('static',filename='images/news_sources.jpeg')}});">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div class="container-fluid row">

                <h3 class="card-title pt-2 col-md-12"><strong>Diverse and Trust worthy sources.</strong></h3>
                <div class="container">
                    <p class="col-md-12">We bring you news from reputed and established national and international news agencies. Our default news sources comprise BBC, CNN, The himalayan times, and Kantipur.</p>
                </div>

            </div>
        </div>
        <!-- Content -->
    </div>
    <!-- Card 2-->

    <!-- Card 3-->
    <div class="card card-image" style="background-image: url({{url_for('static',filename='images/dashboard.jpg')}});">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div class="container-fluid row">

                <h3 class="card-title pt-2 col-md-12"><strong>Customize your dashboard.</strong></h3>
                <div class="container">
                    <p class="col-md-12">Pick your own topics, sources to filter your interest. Get live score updates of your favorite sports. Get updates about film releases, shows. So what are you waiting for?</p>
                </div>

            </div>
        </div>
        <!-- Content -->
    </div>
    <!-- Card 3-->


    <!-- Card 4-->
    <div class="card card-image mb-1" style="background-image: url({{url_for('static',filename='images/tools.jpeg')}});">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div class="container-fluid row">

                <h3 class="card-title pt-2 col-md-12"><strong>Wide range of Handy tools</strong></h3>
                <div class="container">
                    <p class="col-md-12">We bring you small handy tools like weather reports, conversion tools, calendar etc.</p>
                </div>

            </div>
        </div>
        <!-- Content -->
    </div>
    <!-- Card4 -->


</div>




{%endblock%}