{% extends 'dashboard.html'%}
{% block content %}
<div class="news">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2><a href="{{url_for('newslet.nep_national_news')}}" target="_blank">National News[nep]</a></h2>
        </div>
    </div>
    {% for news in NNN_list %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3><a href="{{news.news_link}}" target="_blank">{{news.title}}</a></h3>
        </div>

        {%if news.image_link%}
        <img class="article-img img-responsive" src={{news.image_link}}>
        {%endif%}

        <div class="panel-body">
            <div>
                <small class="text-muted">{{ news.nep_date }}</small>
                <span>| {{news.source}}</span>
            </div><br>
            <div class="text-justify lead">
                {{news.summary}}
            </div><a href="{{news.news_link}}" , target="_blank">|थप पढ्नुहोस >>|</a>
        </div>
    </div>
    {% endfor %}
    <div class="panel-body">
        <small class="text-muted"><a href="{{url_for('newslet.nep_national_news')}}">More on this topic.</a></small>
    </div>
    <div class='line'></div><br>



    <div class="panel panel-default">
        <div class="panel-heading">
            <h2><a href="{{url_for('newslet.nep_international_news')}}" target="_blank">International News[nep]</a></h2>
        </div>
    </div>
    {% for news in NIN_list %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3><a href="{{news.news_link}}" target="_blank">{{news.title}}</a></h3>
        </div>

        {%if news.image_link%}
        <img class="article-img img-responsive" src={{news.image_link}}>
        {%endif%}

        <div class="panel-body">
            <div>
                <small class="text-muted">{{ news.nep_date }}</small>
                <span>| {{news.source}}</span>
            </div><br>
            <div class="text-justify lead">
                {{news.summary}}
            </div><a href="{{news.news_link}}" , target="_blank">|थप पढ्नुहोस >>|</a>
        </div>
    </div>
    {% endfor %}
    <div class="panel-body">
        <small class="text-muted"><a href="{{url_for('newslet.nep_international_news')}}">More on this topic.</a></small>
    </div>
    <div class='line'></div><br>




    <div class="panel panel-default">
        <div class="panel-heading">
            <h2><a href="{{url_for('newslet.eng_national_news')}}" target="_blank">National News[eng]</a></h2>
        </div>
    </div>
    {% for news in ENN_list %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3><a href="{{news.news_link}}" target="_blank">{{news.title}}</a></h3>
        </div>

        {%if news.image_link%}
        <img class="article-img img-responsive img-fluid" src={{news.image_link}}>
        {%endif%}

        <div class="panel-body">
            <div>
                <!--news.date.strftime('%Y-%m-%d')-->
                <small class="text-muted">{{ news.nep_date }}</small>
                <span>| {{news.source}}</span>
            </div><br>
            <div class="text-justify lead">
                {{news.summary}}
            </div><a href="{{news.news_link}}" , target="_blank">|Read more>>|</a>
        </div>
    </div>
    {% endfor %}
    <div class="panel-body">
        <small class="text-muted"><a href="{{url_for('newslet.eng_national_news')}}">More on this topic.</a></small>
    </div>
    <div class='line'></div><br>

</div>

{% endblock content %}
