{%extends 'layout.html'%}

{%block content%}
<br><br>

   
   <!-- Material form login -->
   <form method="POST" action="">
   		{{form.hidden_tag()}}
   <fieldset>
   		<p class="h4 text-center mb-4">Request reset</p>
   
   <!-- Material input email -->
   {%if form.email.errors%}
   		<div class="md-form">
   		<i class="fa fa-envelope prefix grey-text"></i>
   		{{form.email(type="email", id="materialFormLoginEmailEx", class="form-control")}}
   		{{form.email.label(for="materialFormLoginEmailEx")}}   
   		
   		{%for error in form.email.errors%}
   			<span>{{error}}</span>
   			</div>
   		{%endfor%}
   {%else%}
       	<div class="md-form">
       	<i class="fa fa-envelope prefix grey-text"></i>
       	{{form.email(type="email", id="materialFormLoginEmailEx", class="form-control")}}
       	{{form.email.label(for="materialFormLoginEmailEx")}}   
       	</div>
   {%endif%}
   <!-- Material input password -->
   
   <div class="text-center mt-4">
   {{form.submit(class="btn btn-default")}}
   </div>
   <!--Footer-->
   <div class="modal-footer">
   <div class="options text-right">
   <p class="pt-1">Don't have an account yet? <a href="{{url_for('signup')}}" class="blue-text">Sign up</a></p>
   <button class="btn btn-info"><a href="{{url_for('home')}}">Back</a></button>
   </div>
   <!--/.Panel 8-->
   </div>
   </fieldset>
   </form>
   <!-- Material form login -->
   <br>


{%endblock content%}