{%extends 'layout.html'%}
{%block content%}
<br><br><br>
<form method="POST" action="">
    {{form.hidden_tag()}}
    <fieldset>
        <div class="text-center">
            <legend>Reset password</legend>
        </div>

        {%if form.password.errors %}
        <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            {{form.password(type="password", id="materialFormLoginPasswordEx", class="form-control")}}
            {{form.password.label(for="materialFormLoginPasswordEx")}}

            {%for error in form.password.errors%}
            <p>{{error}}</p>
        </div>
        {%endfor%}
        {%else%}
        <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            {{form.password(type="password", id="materialFormLoginPasswordEx", class="form-control")}}
            {{form.password.label(for="materialFormLoginPasswordEx")}}
        </div>
        {%endif%}

        {%if form.confirm_password.errors%}
        <div class="md-form form-sm mb-4">
            <i class="fa fa-lock prefix"></i>
            {{form.confirm_password(type="password", id="modalLRInput13", class="form-control form-control-sm validate")}}
            {{form.confirm_password.label(for="modalLRInput13")}}
        </div>
        {%for error in form.confirm_password.errors%}
        <span>{{error}}</span>
        {%endfor%}
        {%else%}
        <div class="md-form form-sm mb-4">
            <i class="fa fa-lock prefix"></i>
            {{form.confirm_password(type="password", id="modalLRInput13", class="form-control form-control-sm validate")}}
            {{form.confirm_password.label(for="modalLRInput13")}}
        </div>
        {%endif%}
        <div class="text-center form-sm mt-2">
            {{form.submit(class="btn btn-info", type="submit")}}
        </div>
        <!--Footer-->
        <div class="modal-footer">
            <div class="options text-right">
                <button class="btn btn-info"><a href="{{url_for('users.reset_request')}}">Back</a></button>
            </div>
        </div>


    </fieldset>
</form>
{%endblock content%}